In [1]:
from pyspark.sql import Row
row=Row("Python",100000)
print(row[0] + "," + str(row[1]))

Python,100000

In [2]:
row=Row(name="Alan", age=10)
print(row.name)

Alan

In [4]:
from pyspark.sql import SparkSession,Row
spark = SparkSession.builder.appName('CG Spark demo').getOrCreate()

22/10/28 13:05:31 WARN Utils: Your hostname, hadoop resolves to a loopback address: 127.0.1.1; using 192.168.242.137 instead (on interface ens33)
22/10/28 13:05:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/28 13:05:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/28 13:05:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:

data = [Row(name="Robert,,Smith",lang=["java","scala","C++"],state="CA"),
       Row(name="Michael,Rose", lang=["Spark","Java","C++"],state="NY"),
       Row(name="James,,Williams",lang=["CSharp","VB"],state="NV")]
rdd=spark.sparkContext.parallelize(data)
print(rdd.collect())

[Row(name='Robert,,Smith', lang=['java', 'scala', 'C++'], state='CA'), Row(name='Michael,Rose', lang=['Spark', 'Java', 'C++'], state='NY'), Row(name='James,,Williams', lang=['CSharp', 'VB'], state='NV')]

In [6]:
colData = rdd.collect()
for row in colData: 
    print(row.name + "," +str(row.lang))

Robert,,Smith,['java', 'scala', 'C++']
Michael,Rose,['Spark', 'Java', 'C++']
James,,Williams,['CSharp', 'VB']

In [7]:
# Column Class in PySpark
from pyspark.sql.functions import lit
colObj = lit("CG Pyspark Dataframe demo")

In [9]:
data=[("Ann", 10),("Matt",25)]
df = spark.createDataFrame(data).toDF("name.fname","age")
df.printSchema()
df.select(df.age).show()
df.select(df["age"]).show()
df.select(df["`name.fname`"]).show()
#Using SQL col() function

from pyspark.sql.functions import col
df.select(col("age")).show()
df.select(col("`name.fname`")).show()

root
 |-- name.fname: string (nullable = true)
 |-- age: long (nullable = true)

+---+
|age|
+---+
| 10|
| 25|
+---+

+---+
|age|
+---+
| 10|
| 25|
+---+

+----------+
|name.fname|
+----------+
|       Ann|
|      Matt|
+----------+

+---+
|age|
+---+
| 10|
| 25|
+---+

+----------+
|name.fname|
+----------+
|       Ann|
|      Matt|
+----------+

In [20]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import approx_count_distinct,collect_list
from pyspark.sql.functions import collect_set,sum,avg,max,countDistinct,count

In [21]:
# Pyspark SQL Aggregate Function
simpleData = [("Matt","Sales",4000),
             ("Michael","Marketing",2000),
             ("Maria","Finance",1000),
             ("Scott","Finance",5000),
             ("Jeff","Sales", 6000)]
schema = ["emp_name", "dept", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- emp_name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: long (nullable = true)

+--------+---------+------+
|emp_name|dept     |salary|
+--------+---------+------+
|Matt    |Sales    |4000  |
|Michael |Marketing|2000  |
|Maria   |Finance  |1000  |
|Scott   |Finance  |5000  |
|Jeff    |Sales    |6000  |
+--------+---------+------+

In [22]:
## approx_count_distinct
print("approx_count_distinct:" + \
     str(df.select(approx_count_distinct("salary")).collect()[0][0]))

approx_count_distinct:4

In [16]:
# approx_count_distinct()
df.select(collect_list("salary")).show(truncate=False)

+------------------------------+
|collect_list(salary)          |
+------------------------------+
|[4000, 2000, 1000, 5000, 6000]|
+------------------------------+

In [23]:
print("avg:" + str(df.select(avg("salary")).collect()[0][0]))

avg:3600.0