In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('CG Pyspark demo').getOrCreate()
sampleData = (("Matt", "Sales",4000),\
             ("Michael","Marketing",2000),\
             ("Maria","Finance", 4000),\
             ("Scott","Sales",3300),\
             ("Jen","IT",4500))
columns = ["emp_name","dept","salary"]
df = spark.createDataFrame(data = sampleData, schema = columns)
df.printSchema()
df.show(truncate=False)

22/10/28 15:54:35 WARN Utils: Your hostname, hadoop resolves to a loopback address: 127.0.1.1; using 192.168.242.137 instead (on interface ens33)
22/10/28 15:54:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/28 15:54:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/28 15:54:39 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
root
 |-- emp_name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: long (nullable = true)

+--------+---------+------+
|emp_name|dept     |salary|
+--------+---------+------+
|Matt    |Sales    |4000  |
|Michael |Marketing|2000  |
|Maria   |Finance  |4000  |
|Scott   |Sales    |3300  |
|Jen     |IT       |4500  |
+--------+---------+------+

In [6]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec = Window.partitionBy("dept").orderBy("Salary")
df.withColumn("row_number",row_number().over(windowSpec)).show(truncate=False)

+--------+---------+------+----------+
|emp_name|dept     |salary|row_number|
+--------+---------+------+----------+
|Maria   |Finance  |4000  |1         |
|Jen     |IT       |4500  |1         |
|Michael |Marketing|2000  |1         |
|Scott   |Sales    |3300  |1         |
|Matt    |Sales    |4000  |2         |
+--------+---------+------+----------+

In [7]:
## Rank function
from pyspark.sql.functions import rank
df.withColumn("rank",rank().over(windowSpec)).show()

+--------+---------+------+----+
|emp_name|     dept|salary|rank|
+--------+---------+------+----+
|   Maria|  Finance|  4000|   1|
|     Jen|       IT|  4500|   1|
| Michael|Marketing|  2000|   1|
|   Scott|    Sales|  3300|   1|
|    Matt|    Sales|  4000|   2|
+--------+---------+------+----+

In [9]:
from pyspark.sql.functions import dense_rank
df.withColumn("dense_rank", dense_rank().over(windowSpec)).show()

+--------+---------+------+----------+
|emp_name|     dept|salary|dense_rank|
+--------+---------+------+----------+
|   Maria|  Finance|  4000|         1|
|     Jen|       IT|  4500|         1|
| Michael|Marketing|  2000|         1|
|   Scott|    Sales|  3300|         1|
|    Matt|    Sales|  4000|         2|
+--------+---------+------+----------+