In [8]:
import pandas as pd 
%matplotlib 
import matplotlib.pyplot as plt

Using matplotlib backend: QtAgg

In [2]:
download_uri = ("https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv")

In [3]:
df = pd.read_csv(download_uri)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
#display first five rows of the dataframe
pd.set_option("display.max.columns", None)
df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,1849,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,556,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,558,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,1069,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,23170,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [7]:
# plotting the graph on the rank of income vs the median, 25th and 75th percentile of income by Engineering majors 
df.plot(x="Rank", y=["P25th", "Median", "P75th"])
plt.show()

Using matplotlib backend: QtAgg

In [9]:
plt.plot(df["Rank"], df["P75th"])

In [11]:
# distributions and histograms 
median_col = df["Median"]
type(median_col)

pandas.core.series.Series

In [ ]:
# plot the median income level 
median_col.plot(kind="hist")

In [12]:
#outliers is a data-item object which deviates significantly from the rest of the objects. caused by measurement or execution error

top_5 = df.sort_values(by="Median", ascending=False).head()

In [13]:
# calculate top 5 most lucrative major based on median income

top_5.plot(x="Major", y="Median", kind="bar", rot=5, fontsize=4)

In [14]:
# analysis of majors where median income is > $60000

top_medians = df[df["Median"] > 60000].sort_values("Median")
top_medians.plot(x="Major", y=["P25th", "Median", "P75th"], kind="bar")

In [16]:
# correlation check to unemployment rate vs median income 
# correlation between earnings and employement
df.plot(x="Median", y="Unemployment_rate", kind="area")

In [17]:
# grouping and aggregation 
category_total = df.groupby("Major_category")["Total"].sum().sort_values()
category_total

Major_category
Interdisciplinary                        12296.0
Agriculture & Natural Resources          75620.0
Law & Public Policy                     179107.0
Physical Sciences                       185479.0
Industrial Arts & Consumer Services     229792.0
Computers & Mathematics                 299008.0
Arts                                    357130.0
Communications & Journalism             392601.0
Biology & Life Science                  453862.0
Health                                  463230.0
Psychology & Social Work                481007.0
Social Science                          529966.0
Engineering                             537583.0
Education                               559129.0
Humanities & Liberal Arts               713468.0
Business                               1302376.0
Name: Total, dtype: float64

In [20]:
category_total.plot(kind="barh", fontsize=4)

In [26]:
small_cat_totals = category_total[category_total < 100_000]
big_cat_totals = category_total[category_total > 100_000]
big_cat_totals.plot(kind="pie", fontsize=4)
# adding new item "other" with some of the small categories
#small_sums = pd.Series([small_cat_totals.sum()], index=["Other"])
#big_cat_totals = big_cat_totals.append(small_sums)

In [29]:
df[df["Major_category"]== "Engineering"] ["Median"].plot(kind="hist")